
h1 {
    color: rgb(233, 240, 239);
    margin-left: 20px;
    font-size: 70px;
  }

  h2 {
    color: rgb(233, 240, 239);
    margin-left: 50px;
    font-size: 25px;
    line-height: 50px;
  }

  h3 {
    color: rgb(233, 240, 239);
    margin-left: 50px;
    font-size: 25px;
    line-height: 2ch
  }

  button {
    background-color:#96c3d8 ;
    border-radius: 30%;
    box-sizing: border-box;
    color: black;
    border: 2px solid #f1f5f3; 
    width: 90px;
    height: 50px;
  }